/*
    CSS Variables for easy theming and maintenance
*/
:root {
  --primary-color: #333;
  --secondary-color: #fff;
  --accent-color: #f4f4f4;
  --hover-color: #555;
  --font-family: 'Source Sans Pro', sans-serif;
  --padding: 20px;
  --transition-speed: 0.3s;
  --max-width: 1200px;
  --accent-hover-color: #5f5b4c;
  --overlay-color: rgba(0, 0, 0, 0.6);
}

/*
    General Styles for the entire website
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--primary-color);
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--accent-color);
}

/* Overlay */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: -1;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: var(--accent-color);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, var(--primary-color), var(--accent-color));
  border-radius: 6px;
  border: 3px solid var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to top, var(--primary-color), var(--accent-color));
}

/* Skip Navigation Link Styles */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px;
  z-index: 100;
  transition: top 0.3s;
}

.skip-link:focus {
  top: 0;
}

/* Header and Navigation Styles */
header {
  background-color: rgba(51, 51, 51, 0.81);
  color: var(--secondary-color);
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}

#nav-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  transition: color var(--transition-speed);
}

nav ul li a:hover,
nav ul li a:focus {
  color: var(--accent-hover-color);
  text-decoration: none;
}

/* Social Media Links Styles */
nav ul li.social-media a {
  margin-left: 10px;
  font-size: 1.2rem;
  position: relative;
  top: 1px;
}

nav ul li.social-media a:hover,
nav ul li.social-media a:focus {
  color: var(--accent-hover-color);
}

/* Main Content Styles */
main {
  padding: var(--padding);
  max-width: var(--max-width);
  margin: 0 auto;
}

section {
  padding: var(--padding);
  margin: var(--padding) 0;
  background-color: rgba(255, 255, 255, 0.781);
  border-radius: 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

section.visible {
  opacity: 1;
  transform: translateY(0);
}

#collections h2 {
  text-align: center;
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-bottom: -20px;
}
#collections {
  padding: 10px 0px 10px 0px;
  margin: 0px 0px;
}

#projects h2 {
  text-align: center;
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-bottom: 15px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#contact h2 {
  text-align: center;
  text-align: center;
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-bottom: 15px;
  margin-top: -5px;
}

/* Home Section Styles */
#home {
  text-align: center;
  background-size: cover;
  background-position: center;
  color: var(--secondary-color);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transform: none;
  background-color: rgba(0, 0, 0, 0.4);
}

#home h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 300;
}

#home p {
  margin-top: -10px;
  font-size: 1.15rem;
  font-weight: 300;
}

/* Carousel Styles */
.carousel-container {
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.carousel-track-container {
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  transition: transform 0.7s cubic-bezier(0.25, 0.1, 0.25, 1);
  will-change: transform;
}

.carousel-slide {
  min-width: 50%;
  box-sizing: border-box;
}

.carousel-slide .collection-item {
  background-color: rgba(250, 250, 250, 0);
  margin: 0 0px;
  padding: 11px;
  border-radius: 2.5px;
  text-align: center;
  overflow: hidden;
  transition: transform var(--transition-speed), box-shadow var(--transition-speed), background-color var(--transition-speed);
}

.carousel-slide .collection-item:hover {
  border-radius: 2.5px;
  transform: translateY(-10px);
  background-color: rgba(250, 250, 250, 0);
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.carousel-slide .image-container {
  position: relative;
  width: 100%;
  padding-top: 150%;
  overflow: hidden;
  border-radius: 5px;
}

.carousel-slide .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay styles for the carousel images */
.carousel-slide .image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  opacity: 0;
  transition: opacity var(--transition-speed);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-slide .image-container:hover .overlay {
  opacity: 1;
}

.carousel-slide .image-container .overlay span {
  margin-top: -65px;
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.carousel-slide .image-container .overlay .title-overlay {
  margin-top: 00px;
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-weight: 400;
}

.carousel-slide .image-container .overlay .description-overlay {
  margin-top: -6px;
  color: var(--secondary-color);
  font-size: .8rem;
  font-weight: 400;
}

.carousel-slide .collection-item h3 {
  margin-top: 6px;
  font-weight: 300;
}

.carousel-slide .collection-item h3 a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color var(--transition-speed);
}

.carousel-slide .collection-item h3 a:hover,
.carousel-slide .collection-item h3 a:focus {
  color: var(--accent-hover-color);
}

.carousel-slide .collection-item p {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 0.95rem;
  font-weight: 300;
}

.collection-item a {
  text-decoration: none;
  color: inherit;
}

.collection-item a:hover h3,
.collection-item a:focus h3 {
  color: var(--accent-hover-color);
}

/* Navigation Buttons */
.carousel-button {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 3rem;
  padding: 6px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity var(--transition-speed);
  z-index: 2;
}

.carousel-button:hover {
  opacity: 1;
}

.carousel-button--left {
  left: 10px;
}

.carousel-button--right {
  right: 10px;
}

/* Navigation Dots */
.carousel-nav {
  text-align: center;
  margin-top: 5px;
}

.carousel-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}

.carousel-indicator.current-slide {
  background-color: var(--accent-hover-color);
  opacity: 1;
}

/* Main Projects Container Styles */
.projects-container {
  display: grid; /* Use grid layout to display multiple projects side by side */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Each project takes equal space */
  gap: 20px; /* Space between projects */
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--padding);
  box-sizing: border-box; /* Include padding in overall width calculation */
}

/* Individual Project Section Styles */
.project-section {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#bleach-in-bloom .image-container,
#adbreak .image-container {
  height: 400px; /* Increased height for Bleach in Bloom and AdBreak sections */
}

.project-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  opacity: 0;
  transition: opacity var(--transition-speed);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-section:hover .overlay {
  opacity: 1;
}

.project-section .overlay .title-overlay {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Image Container Styles for Carousel Effect */
.image-container {
  position: relative;
  width: 100%;
  height: 300px; /* Fixed height for consistent image display */
  overflow: hidden;
  border-radius: 5px;
}

/* Individual Image within Project Section */
.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* Active Image */
.project-image.active {
  opacity: 1;
}

/* Title of Each Project Section */
.project-title {
  font-size: 1.8rem;
  color: var(--primary-color);
  margin: 10px 0;
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr; /* Display projects in one column for smaller screens */
  }
}

/* Contact Section Styles */
#contact h2 {
  margin-bottom: 10px;
}

#contact p {
  margin-top: -30px;
  text-align: center;
}

#contact ul {
  list-style: none;
  padding: 0;
}

#contact ul li {
  margin-bottom: 6px;
}

#contact a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color var(--transition-speed);
}

#contact a:hover,
#contact a:focus {
  color: var(--accent-hover-color);
  text-decoration: none;
}

/* Footer Styles */
footer {
  background-color: rgba(51, 51, 51, 0.8);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px 0px 0px 0px;
  width: 100%;
  margin-top: var(--padding);
  font-size: 100%;
  font-weight: 300;
}

/* Responsive Design */
@media (max-width: 768px) {
  .carousel-slide {
    min-width: 100%;
  }

  .projects-gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  #nav-toggle {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  nav ul.active {
    display: flex;
  }
}